@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scroll-behavior: smooth;
}

.primary-btn {
  @apply transition-all hover:text-glow rounded-full px-4 py-2 bg-white/20 border-2 border-white/20 font-outfit;
}
